{%extends 'base.html'%}
{%block content%}


<form action="/makePrediction" method="POST" class="p-5">
    <h1 class="text-center mb-4">Enter the Details</h1>
    {% csrf_token %}

    <div class="row">
        <div class="col-6">
            <div class="row mb-3">
                <label for="months_as_customer" class="col-sm-3 col-form-label">Months as Customer</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" required
                        placeholder="User Name ,Only digits and alphabets" name="months_as_customer">
                </div>
            </div>

            <div class="row mb-3">
                <label for="policy_number" class="col-sm-3 col-form-label">policy Number</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" required
                        placeholder="User Name ,Only digits and alphabets" name="policy_number">
                </div>
            </div>
            <div class="row mb-3">
                <label for="policy_state" class="col-sm-3 col-form-label">Policy State</label>
                <div class="col-sm-9">
                    <select class="form-select" aria-label="Default select example" name="policy_state">
                        <option selected>Select a policy state</option>
                        <option value="OH">OH</option>
                        <option value="IN">IN</option>
                        <option value="IL">IL</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="policy_deductable" class="col-sm-3 col-form-label">Policy Deductable</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" name="policy_deductable">
                        <option selected>Select a policy deductable</option>
                        <option value="500"> 500</option>
                        <option value="1000">1000</option>
                        <option value="2000">2000</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="umbrella_limit" class="col-sm-3 col-form-label">Umbrella Limit</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" required
                        placeholder="User Name ,Only digits and alphabets" name="umbrella_limit">
                </div>
            </div>
            <div class="row mb-3">
                <label for="insured_sex" class="col-sm-3 col-form-label">Gender</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" name="insured_sex">
                        <option selected>Select Gender</option>
                        <option value="FEMALE"> FEMALE </option>
                        <option value="MALE"> MALE </option>

                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="insured_occupation" class="col-sm-3 col-form-label">Occupation of Insured</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" id="" name="insured_occupation">
                        <option selected>Select the insured occupation</option>
                        {% for occupation in occupations%}
                        <option value="{{occupation}}"> {{occupation}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="insured_relationship" class="col-sm-3 col-form-label">insured_relationship</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" name="insured_relationship">
                        <option selected>Select Insured Relationship</option>
                        {% for optn in relationList %}
                        <option value="{{optn}}">{{optn}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="capital_loss" class="col-sm-3 col-form-label">capital-loss</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" required
                        placeholder="User Name ,Only digits and alphabets" name="capital_loss">
                </div>
            </div>
            <div class="row mb-3">
                <label for="incident_type" class="col-sm-3 col-form-label">incident_type</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" name="incident_type">
                        <option selected>Select Incident Type</option>
                        {% for optn in incidentType %}
                        <option value="{{optn}}">{{optn}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="incident_severity" class="col-sm-3 col-form-label">Incident Severity</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" name="incident_severity">
                        <option selected>Select Incident Severity</option>
                        {% for optn in incidentSevierity %}
                        <option value="{{optn}}">{{optn}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="incident_state" class="col-sm-3 col-form-label">incident_state</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" name="incident_state">
                        <option selected>Select the Incident State</option>
                        {% for optn in incidentState %}
                        <option value="{{optn}}">{{optn}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="incident_location" class="col-sm-3 col-form-label">incident_location</label>
                <div class="col-sm-9">
                    <input type="text"  class="form-control" required placeholder="User Name ,Only digits and alphabets"
                        name="incident_location">
                </div>
            </div>
            <div class="row mb-3">
                <label for="number_of_vehicles_involved"
                    class="col-sm-3 col-form-label">number_of_vehicles_involved</label>
                <div class="col-sm-9">
                    <input type="number"  class="form-control" required
                        placeholder="User Name ,Only digits and alphabets" name="number_of_vehicles_involved">
                </div>
            </div>
            <div class="row mb-3">
                <label for="bodily_injuries" class="col-sm-3 col-form-label">bodily_injuries</label>
                <div class="col-sm-9">
                    <input type="number"  class="form-control" required
                        placeholder="User Name ,Only digits and alphabets" name="bodily_injuries">
                </div>
            </div>
            <div class="row mb-3">
                <label for="police_report_available" class="col-sm-3 col-form-label">police_report_available</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" name="police_report_available">
                        <option selected>Select the Incident City</option>
                        {% for optn in propertyDamage %}
                        <option value="{{optn}}">{{optn}}</option>
                        {%endfor%}
                        <option value="?">None</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="injury_claim" class="col-sm-3 col-form-label">injury_claim</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" required
                        placeholder="User Name ,Only digits and alphabets" name="injury_claim">
                </div>
            </div>
            <div class="row mb-3">
                <label for="vehicle_claim" class="col-sm-3 col-form-label">vehicle_claim</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" required
                        placeholder="User Name ,Only digits and alphabets" name="vehicle_claim">
                </div>
            </div>
            <div class="row mb-3">
                <label for="auto_model" class="col-sm-3 col-form-label">auto_model</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" name="auto_model">
                        <option selected>Select the Auto Maker</option>
                        {% for optn in autoModel %}
                        <option value="{{optn}}">{{optn}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row mb-3">
                <label for="age" class="col-sm-3 col-form-label">age</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" required
                        placeholder="User Name ,Only digits and alphabets" name="age">
                </div>
            </div>

            <div class="row mb-3">
                <label for="policy_bind_date" class="col-sm-3 col-form-label">policy Bind Date</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" required placeholder="User Name ,Only digits and alphabets"
                        name="policy_bind_date">
                </div>
            </div>
            <div class="row mb-3">
                <label for="policy_csl" class="col-sm-3 col-form-label">Policy Csl</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" name="policy_csl">
                        <option selected>Select a policy csl</option>
                        <option value="250/500"> 250/500</option>
                        <option value="100/300">100/300</option>
                        <option value="500/1000">500/1000</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="policy_annual_premium" class="col-sm-3 col-form-label">Policy Annual Premium</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" required
                        placeholder="User Name ,Only digits and alphabets" name="policy_annual_premium">
                </div>
            </div>
            <div class="row mb-3">
                <label for="insured_zip" class="col-sm-3 col-form-label">Insured Zip</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" required placeholder="User Name ,Only digits and alphabets"
                        name="insured_zip">
                </div>
            </div>

            <div class="row mb-3">
                <label for="insured_education_level" class="col-sm-3 col-form-label">insured_education_level</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" name="insured_education_level">
                        <option selected>Select a policy deductable</option>
                        {% for education in educationList%}
                        <option value="{{education}}"> {{education}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="insured_hobbies" class="col-sm-3 col-form-label">insured_hobbies</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" name="insured_hobbies">
                        <option selected>Select Insured Hobby</option>
                        {% for optn in hobbies %}
                        <option value="{{optn}}">{{optn}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="capital_gains" class="col-sm-3 col-form-label">capital-gains</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" required
                        placeholder="User Name ,Only digits and alphabets" name="capital_gains">
                </div>
            </div>
            <div class="row mb-3">
                <label for="incident_date" class="col-sm-3 col-form-label">incident_date</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" required placeholder="User Name ,Only digits and alphabets"
                        name="incident_date">
                </div>
            </div>
            <div class="row mb-3">
                <label for="collision_type" class="col-sm-3 col-form-label">collision_type</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" name="collision_type">
                        <option selected>Select Collosion Type</option>
                        {% for optn in collosionType %}
                        <option value="{{optn}}">{{optn}}</option>
                        {%endfor%}
                        <option value="?">Others</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="authorities_contacted" class="col-sm-3 col-form-label">Authority Contacted</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" name="authorities_contacted">
                        <option selected>Select the Authority contacted</option>
                        {% for optn in authoritiesContacted %}
                        <option value="{{optn}}">{{optn}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="incident_city" class="col-sm-3 col-form-label">incident_city</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" name="incident_city">
                        <option selected>Select the Incident City</option>
                        {% for optn in incidentCity %}
                        <option value="{{optn}}">{{optn}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="incident_hour_of_the_day" class="col-sm-3 col-form-label">incident_hour_of_the_day</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" name="incident_hour_of_the_day">
                        <option selected>Select the incident hour in the day</option>
                        {% for optn in incidentHourOfDay %}
                        <option value="{{optn}}">{{optn}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="property_damage" class="col-sm-3 col-form-label">property_damage</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" name="property_damage">
                        <option selected>Select the Property Damage</option>
                        {% for optn in propertyDamage %}
                        <option value="{{optn}}">{{optn}}</option>
                        {%endfor%}
                        <option value="?">None</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="witnesses" class="col-sm-3 col-form-label">witnesses</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" required
                        placeholder="User Name ,Only digits and alphabets" name="witnesses">
                </div>
            </div>
            <div class="row mb-3">
                <label for="total_claim_amount" class="col-sm-3 col-form-label">total_claim_amount</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" required
                        placeholder="User Name ,Only digits and alphabets" name="total_claim_amount">
                </div>
            </div>
            <div class="row mb-3">
                <label for="property_claim" class="col-sm-3 col-form-label">property_claim</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" required
                        placeholder="User Name ,Only digits and alphabets" name="property_claim">
                </div>
            </div>
            <div class="row mb-3">
                <label for="auto_make" class="col-sm-3 col-form-label">auto_make</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" name="auto_make">
                        <option selected>Select the Auto Maker</option>
                        {% for optn in autoMakers %}
                        <option value="{{optn}}">{{optn}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="auto_year" class="col-sm-3 col-form-label">auto_year</label>
                <div class="col-sm-9">
                    <select class="form-select" required aria-label="Default select example" name="auto_year">
                        <option selected>Select the Auto Manufactured Year</option>
                        {% for optn in autoYears %}
                        <option value="{{optn}}">{{optn}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" class="form-control" required placeholder="User Name ,Only digits and alphabets" name="_c39"
        value="NaN">
    <div class="text-center">
        <button type="submit" class="btn btn-primary align-self-center">Get Predictions</button>
    </div>
</form>
{%endblock%}